@import "tailwindcss";

@theme {
  --color-brand-yellow: #FFCC00;
  --color-brand-black: #09090b;
  --color-brand-gray: #f4f4f5;
  --font-chivo: var(--font-chivo), "sans-serif";
  --font-plex-sans: var(--font-ibm-plex-sans), "sans-serif";
  --font-plex-mono: var(--font-ibm-plex-mono), "monospace";
}

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #09090b;
  }

  body {
    background-color: var(--background);
    color: var(--foreground);
    font-family: var(--font-plex-sans);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-chivo);
    letter-spacing: -0.04em;
    line-height: 1.1;
  }
}

@layer utilities {
  .highlight-yellow {
    @apply bg-brand-yellow text-brand-black px-2 inline-block;
  }
  
  .highlight-black {
    @apply bg-brand-black text-brand-yellow px-2 inline-block;
  }
  
  .overline-text {
    @apply font-plex-mono text-xs uppercase tracking-widest text-gray-500 mb-4 block;
  }

  .bg-blueprint {
    background-color: #1a1a1a;
    background-image: url('https://www.transparenttextures.com/patterns/blueprint.png');
    background-size: cover;
    background-blend-mode: overlay;
  }
}
